<div
  class="container mt-5 shadow-lg rounded-2 p-5 border w-50"
  style="min-height: 400px"
>
  <form
    (ngSubmit)="Add(name.value, age.value, email.value)"
    [formGroup]="validationForm"
    method="post"
    class="px-5"
  >
    <h1 class="text-center mb-5">Registeration Form</h1>
    <div class="form-group mb-2">
      <label for="name" class="mb-1">Name</label>
      <input
        #name
        type="text"
        class="form-control"
        id="name"
        aria-describedby="nameHelp"
        placeholder="Name"
        formControlName="name"
        autocomplete="flase"
      />
      <div
        class="alert alert-danger p-1 mt-2"
        role="alert"
        *ngIf="!validateName"
      >
        Name must be more than 3 characters
      </div>
    </div>
    <div class="form-group mb-2">
      <label for="email" class="mb-1">Email</label>
      <input
        #email
        type="email"
        class="form-control"
        id="email"
        placeholder="Email"
        formControlName="email"
        autocomplete="flase"
      />
      <div
        class="alert alert-danger p-1 mt-2"
        role="alert"
        *ngIf="!validateEmail"
      >
        Email is required ex:(example@gmail.com)
      </div>
    </div>
    <div class="form-group mb-2">
      <label for="age" class="mb-1">Age</label>
      <input
        #age
        type="text"
        class="form-control"
        id="age"
        placeholder="Age"
        formControlName="age"
        autocomplete="flase"
      />
      <div
        class="alert alert-danger p-1 mt-2"
        role="alert"
        *ngIf="!validateAge"
      >
        Age must be 20 &gt; and &lt; 40
      </div>
    </div>
    <div class="text-center mt-5">
      <input class="btn btn-dark px-5" id="nm" type="submit" value="Register" />
    </div>
  </form>
  <div
    class="alert alert-success text-center p-1 mt-3 w-50 mx-auto"
    *ngIf="validForm"
  >
    Student Added Successfully !!
  </div>
</div>
