<footer
  class="text-center text-white position-fixed bottom-0 end-0 w-100"
  style="background-color: #f8f9fa"
>
  <div
    class="text-center text-dark p-2"
    style="background-color: rgba(0, 0, 0, 0.2)"
  >
    <section>
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-linkedin"></i
      ></a>
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-github"></i
      ></a>
    </section>
  </div>
</footer>
